# Environment variables (Crucial for Stripe & OpenAI)
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
**/*.env*

# Node modules
**/node_modules/

# Android/Gradle builds
**/build/
**/.gradle/
**/local.properties
**/.cxx/
**/.kotlin/
**/*.keystore
!**/debug.keystore

# iOS builds
**/DerivedData/
**/*.ipa
**/xcuserdata/

# Backend uploads
**/uploads/

# OS specific files
**/.DS_Store
**/Thumbs.db
**/npm-debug.log*
**/yarn-error.log*
**/yarn-debug.log*
